<% layout('layout') -%>

<div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-3">
                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Customer section</h3>
                        </div>

                        <div class="panel-body">

                            <ul class="nav nav-pills nav-stacked">
                                <li>
                                    <a href="/profile"><i class="fa fa-user"></i> Mi Cuenta</a>
                                </li>
                                <li>
                                    <a href="/wishlist"><i class="fa fa-heart"></i> Mi Lista de Deseos</a>
                                </li>
                                <li class="active">
                                    <a href="/orders"><i class="fa fa-list"></i> Mis Ordenes</a>
                                </li>
                                <% if (user.profile.admin == true) { %>
                                <li>
                                    <a href="/admin"><i class="fa fa-plus-square"></i> Agregar Productos</a>
                                </li>
                                <% } %>
                                <li>
                                    <a href="/logout"><i class="fa fa-sign-out"></i> Cerrar Sesion</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-md-9" id="customer-order">
                    <div class="box">
                        <h1>Pedido #<%= order._id %></h1>

                        <p class="lead">Fue realizado el <strong><%= moment(order.date.postedAt).format("YYYY-MM-DD") %></strong> y se encuentra <strong><%= order.status %></strong>.</p>
                        <p class="text-muted">Si tienes alguna pregunta, porfavor <a href="/contact">contactanos</a>, estamos para ayudarte.</p>

                        <hr>

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th colspan="2">Productos</th>
                                        <th>Cantidad</th>
                                        <th>Precio Unitario</th>
                                        <th colspan="2">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                	<% for(var i=0; i<order.items.length; i++) { %>
                                    <tr>
                                        <td>
                                            <a href="product/<%= order.items[i].item._id %>">
                                                <img src="<%= order.items[i].item.image %>" alt="<%= order.items[i].item.name %>">
                                            </a>
                                        </td>
                                        <td><a href="product/<%= order.items[i].item._id %>"><%= order.items[i].item.name %></a>
                                        </td>
                                        <td><%= order.items[i].quantity %></td>
                                        <td>$<%= order.items[i].item.price %></td>
                                        <td>$<%= order.items[i].price %></td>
                                    </tr>
                                    <% } %>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="5" class="text-right">Subtotal</th>
                                        <th>$<%= order.total %></th>
                                    </tr>
                                    <tr>
                                        <th colspan="5" class="text-right">Total</th>
                                        <th>$<%= order.total %></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>