<% layout('layout') -%>

<div id="all">

        <div id="content">

            <div class="container">
                <div class="col-md-12 hidden-xs ">
                    <div id="main-slider">
                        <div class="item">
                            <img src="img/main-slider1.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
            <!-- *** ADVANTAGES HOMEPAGE ***
 _________________________________________________________ -->
            <div id="advantages">

                <div class="container">
                    <div class="same-height-row">
                        <div class="col-sm-4">
                            <div class="box same-height clickable">
                                <div class="icon"><i class="fa fa-trophy"></i>
                                </div>

                                <h3><a href="#">Son nuestra principal atencion!</a></h3>
                                <p>Nosotros amamos a nuestros clientes. Siempre damos el mejor servicio, ademas de siempre cuidar de nuestros clientes.</p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="box same-height clickable">
                                <div class="icon"><i class="fa fa-tags"></i>
                                </div>

                                <h3><a href="#">Los mejores precios</a></h3>
                                <p>Solo con nosotros encontraras los mejores precios, ademas de contar con un producto de gran calidad.</p>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="box same-height clickable">
                                <div class="icon"><i class="fa fa-thumbs-up"></i>
                                </div>

                                <h3><a href="#">100% satisfaccion garantizada</a></h3>
                                <p>Si el producto no es lo que deseabas tienes 1 semana para regresarlo, y si no es lo que buscabas se te regresara el dinero sin ningún problema.</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.container -->

            </div>
            <!-- /#advantages -->

            <!-- *** ADVANTAGES END *** -->

            <!-- *** HOT PRODUCT SLIDESHOW ***
 _________________________________________________________ -->
            <div id="hot">

                <div class="box">
                    <div class="container">
                        <div class="col-md-12">
                            <h2>Lo más vendido!!</h2>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="product-slider">
                        <% for (var i=0; i< 5; i++) {%>
                    	<div class="item">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="product/<%= products[i]._id %>">
                                                <img src="<%= products[i].image %>" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="product/<%= products[i]._id %>">
                                                <img src="<%= products[i].image %>" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="product/<%= products[i]._id %>" class="invisible">
                                    <img src="<%= products[i].image %>" alt="" class="img-responsive">
                                </a>
                                <div class="text">
                                    <h3><a href="product/<%= products[i]._id %>"><%= products[i].name %></a></h3>
                                    <p class="price">$<%= products[i].price %>MX.</p>
                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>
                        <% } %>

                    </div>
                    <!-- /.product-slider -->
                </div>
                <!-- /.container -->

            </div>
            <!-- /#hot -->

            <!-- *** HOT END *** -->

        </div>
        <!-- /#content -->